<%- include('partials/header', { pageTitle: 'User' }) %>

<div class="container">
  <h1>User List</h1>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Username</th>
        <th scope="col">Role</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% users.forEach(user => { %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.username %></td>
        <td><%= user.role %></td>
        <td>
          <a href="/users/<%= user._id %>/edit" class="btn btn-primary">Edit</a>
          <form
            action="/users/<%= user._id %>?_method=DELETE"
            method="POST"
            style="display: inline"
          >
            <button type="submit" class="btn btn-danger">Delete</button>
          </form>
        </td>
      </tr>
      <% }); %>
    </tbody>
  </table>
</div>

<%- include('partials/footer') %>
